{% set active_page = "movies" %}
{% extends "layout.html" %}
{% block content %}
<div class="col-12 justify-content-center mb-4 d-flex flex-column">
    <div class="card rounded-3 text-center">
        <div class="card-body mt-4 mx-2 mb-1">
            <form action="/search" method="GET" class="d-flex">
                <input class="form-control mb-4" type="text" name="query" placeholder="Search for movies">
                <button class="btn btn-secondary mb-4" type="submit">Search</button>
            </form>
            <form method="GET" action="/" class="d-flex flex-wrap justify-content-between">
                <div class="form-group mx-2 flex-fill mb-3 mb-md-0" style="flex: 1; height: 100%; width: 90%;">
                    <select class="form-control" name="genre" onchange="this.form.submit()">
                        <option value="all" {% if selected is none %} selected {% endif %}>All</option>
                        {% for genre in genres %}
                        <option value="{{genre.id}}" {% if selected==genre.id %} selected {% endif %}>
                            {{genre.name}}
                        </option>
                        {% endfor %}
                    </select>
                    <label>Select by genre</label>
                    <div class="form-group mx-2 flex-fill mb-3 mb-md-0" style="flex: 1; height: 100%; width: 90%;">
                        <select class="form-control" name="sort" onchange="this.form.submit()">
                            <option value="desc" {% if sort=='desc' %} selected {% endif %}>Newest First</option>
                            <option value="asc" {% if sort=='asc' %} selected {% endif %}>Oldest First</option>
                        </select>
                        <label>Sort by</label>
                    </div>
            </form>
        </div>
    </div>
</div>
{% for movie in movies %}
<div class="col-lg justify-content-center mb-4 d-flex flex-column">
    <div class="card rounded-3 text-center flex-grow">
        <div class="card-body mx-4 mt-4 mb-4">
            <a href="/movies/{{movie.id}}"><img class="rounded" style="width: 65%;" src="/cover/{{movie.id}}"></img></a>
            <h3 class="mt-4 mb-2">{{movie.name}}</h3>
            <h5 class="mt-4 mb-2">{{movie.genre}}</h5>
            <p>{{movie.description|truncate(150)}}</p>
            {% if movie.reviews %}
            <h5 mt-4>Average rating</h5>
            <h2 class="bold rating-header">
                {{movie.reviews}}<small> / 5</small>
            </h2>
            <div class="d-flex justify-content-center align-self-stretch">
                {% for i in range(0, movie.reviews ) %}
                <i class="fa fa-star orange mx-2"></i>
                {% endfor %}
                {% for i in range(movie.reviews, 5 ) %}
                <i class="fa fa-star-o mx-2"></i>
                {% endfor %}
            </div>
            {% else %}
            <i>No reviews yet</i>
            {% endif %}
            <form action="/movies/{{movie.id}}">
                <input type="submit" class="btn btn-secondary btn-center mt-4" value="Read more">
            </form>
            {% if session.user_admin %}
            <form action="/delete/{{movie.id}}" method="POST">
                <button type="submit" class="btn btn-secondary btn-lg mt-4"> <i class="fa fa-trash"></i></button>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}