{% set active_page = "register" %}
{% extends "layout.html" %}
{% block content %}
<div class="col text-center">
    <div class="card rounded-3">
        <div class="card-body mx-4 mt-4 mb-4">
            <h3 class="mb-4">Register</h3>
            <form action="/register" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" name="username"
                        placeholder="Should contain 3-16 characters">
                    <label class="form-label">Username</label>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password"
                        placeholder="Should contain 5-24 characters">
                    <label class="form-label">Password</label>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password2" placeholder="Enter password again">
                    <input type="submit" button type="button" class="btn btn-secondary btn-center mt-4"
                        value="Register"></button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}