{% set active_page = "requests" %}
{% extends "layout.html" %}
{% block content %}
{% if movies %}
{% for movie in movies %}
<div class=" col-lg justify-content-center mb-4 d-flex flex-column">
    <div class="card rounded-3 text-center flex-grow">
        <div class="card-body mx-4 mt-4 mb-4">
            <a href="/movies/{{movie.id}}"><img class="w-100 rounded" src="/cover/{{movie.id}}" style="width: 65%;"></img></a>
            <h3 class="mt-4 mb-4">{{movie.name}}</h3>
            <h5 class="mt-4 mb-3">{{movie.genre}}</h5>
            <p>{{movie.description}}</p>
            <form action="/requests/{{movie.id}}" method="POST">
                <button type="submit" class="btn btn-secondary btn-lg mt-4 mx-2"  name="add" value="add"> <i class="fa fa-check"></i></button>
                <button type="submit" class="btn btn-secondary btn-lg mt-4" name="delete" value="delete"> <i class="fa fa-trash" ></i></button>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
{% endif %}
{% endblock %}