{% extends "layout.html" %}
{% set active_page = "index" %}
{% block content %}
<div class="col-12 text-center mb-4">
  <div class="card rounded-3">
    <div class="card-body mx-4 mt-4">
      <form action="/search" method="GET" class="d-flex">
        <input class="form-control mb-4 mx-2" type="text" name="query" placeholder="Search for movies">
        <button class="btn btn-secondary mb-4" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>

<div class="col-lg text-center">
  <div class="card rounded-3">
    <div class="card-body mx-4 mb-4 mt-4">
      <h1 class="mb-4">Latest movies added</h1>
      <div id="controls" class="carousel slide" data-ride="carousel" interval="20">
        <div class="carousel-inner">
          {%for movie in movies%}
          {% if loop.index == 1 %}
          <div class="carousel-item active">
            {% else %}
            <div class="carousel-item">
              {% endif %}
              <a href="/movies/{{ movie.id }}" {{movie.id}}><img class="w-100 rounded"
                  src="/cover/{{ movie.id }}"></img></a>
              <a class="carousel-control-prev" href="#controls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon mb-4" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#controls" role="button" data-slide="next">
                <span class="carousel-control-next-icon mb-4" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
              <h3 class="mt-4 mb-3">{{movie.name}}</h3>
              <h5 class="mt-4 mb-3">{{movie.genre}}</h5>
              <p>{{movie.description|truncate(150)}}</p>
              <label>
                {% if movie.reviews %}
                <h5 mt-4>Average rating</h5>
                <h2 class="bold rating-header">
                  {{movie.reviews}}<small> / 5</small>
                </h2>
                {% for i in range(0, movie.reviews ) %}
                <i class="fa fa-star orange mx-2"></i>
                {% endfor %}
                {% for i in range(movie.reviews, 5 ) %}
                <i class="fa fa-star-o mx-2"></i>
                {% endfor %}
                {% else %}
                <i>No reviews yet</i>
                {% endif %}
                <form action="/movies/{{movie.id}}">
                  <input type="submit" button type="button" class="btn btn-secondary btn-center mt-4"
                      value="Read more"></button>
              </form>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}